ㅎㅇ
{{log}} <br>
(시간) (감정_계절_날씨) 일때 (음식점_메뉴)를 클릭하셨습니다. 

<br>{{arr}}
<br>{{a}}
<br>{{b}}
<br>{{c}}
<br>{{a1}}
<br>sdf
<br>{{arr.created_at}}
<br>{{arr.emotion}}
<br>{{arr.season}}



<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="width: 100%; text-align : center;">
        <div style="display: inline-block;"><button type="submit" name="click" class="btn-recommend" value="글쓰기">롤링파스타</button></div>
                    
    </div>
    <div style="width: 100%; text-align : center;">
        <div style="display: inline-block;"><button type="submit" name="click2" class="btn-recommend" value="글쓰기">성성식당</button></div>
    
    </div>
    <div style="width: 100%; text-align : center;">
        <div style="display: inline-block;"><button type="submit" name="click3" class="btn-recommend" value="글쓰기">홍콩반점</button></div>
    
    </div>

</form>